.cart-item {
  color: #26282B;
  font-size: 13px;

  border: 1px solid #E8EBED;

  td {
    border: 1px solid #E8EBED;
  }

  .info-wrap {
    width: 50%;

    .info {
      margin: 20px;

      .name {
        font-weight: 800;
        display: block;
      }

      .options {
        color: #9EA4AA;
        font-size: 12px;
      }
    }
  }

  .price, .shipping-price {
    font-weight: 800;
  }

  .button-wrap {
    display: flex;
    flex-direction: column;
    padding: 0 10px;

    button {
      cursor: pointer;
      border: none;
      border-radius: 3px;
      padding-top: 3px;
      padding-bottom: 3px;
      font-weight: 800;
    }

    .purchase-btn {
      background-color: #4adaaf;
      color: white;
      margin-bottom: 5px;
    }

    .purchase-btn:hover {
      background-color: #24b18c;
    }

    .remove-btn {
      color: #4adaaf;
      border: 1px solid #4adaaf;
      font-weight: 800;
    }
  }
}