.cart-header {
  margin-bottom: 30px;

  .title {
    display: block;
    color: #26282B;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .description {
    color: #454C53;
    font-size: 17px;
  }
}
